@mixin font-face($name, $filename, $style, $weight) {
  $folder: '../fonts/';
  $filepath: $folder + $filename;
  @font-face {
    font-family: "#{$name}";
    font-style: $style;
    font-weight: $weight;

    src: url($filepath + ".eot");
    src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
    url($filepath + ".woff") format('woff'),
    url($filepath + ".ttf")  format('truetype'),
    url($filepath + ".svg#" + $name + "") format('svg');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@include font-face('Cuprum', 'Cuprum-Regular', 'normal', '400');

$black: #373942 !default;
$blue: #2ba8e2 !default;
$blue-light: #4ab9ed !default;
$white: #fff !default;

